In [1]:
import pandas as pd
import datetime

In [2]:
import sys
sys.path.append("../.")

In [3]:
import tbc

In [10]:

currencies = ['USD']
start_dt = datetime.datetime(year=2023, month=5, day=1)
end_dt = datetime.datetime.now()
prefix = "TBC_{}_{}".format(start_dt.strftime('%F'), end_dt.strftime('%F'))

save_path_prefix = tbc.save_fpath_generator(ftype='results_prefix', prefix=prefix)
marker_path = tbc.save_fpath_generator(ftype='marker', prefix=prefix)

tbc.paginated_crawl(
    save_fpath_prefix=save_path_prefix, 
    marker_fpath=marker_path, 
    start_dt=start_dt,
    end_dt=end_dt, 
    currencies=currencies
)

results = tbc.paginated_parse(
    save_fpath_prefix=save_path_prefix, 
    marker_fpath=marker_path, 
    start_dt=start_dt,
    end_dt=end_dt, 
    currencies=currencies
)
print(results)

df = pd.DataFrame(results)
parquet_path = tbc.save_fpath_generator(ftype='parquet', prefix=prefix)
tbc.save_parquet(path=parquet_path, df=df)

Paginated crawl for 2023-05-01 00:00:00 - 2023-07-12 16:48:12.418687
Delta Days : 73 /// Pages to go back: 10
Saving: ./markers/TBC_2023-05-01_2023-07-12.marker...
Content is saved to ./markers/TBC_2023-05-01_2023-07-12.marker
Marker is written to ./markers/TBC_2023-05-01_2023-07-12.marker
2023-07-12 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>, <Cookie JSESSIONID=HvCZhrVY04hH3dZt6R7iF9HY for www.tbcbank.ge/web>, <Cookie TS01987dc4=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for www.tbcbank.ge/web>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p000.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p000.html
2023-07-01 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p001.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p001.html
2023-06-24 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p002.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p002.html
2023-06-17 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p003.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p003.html
2023-06-10 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p004.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p004.html
2023-06-03 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p005.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p005.html
2023-05-27 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p006.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p006.html
2023-05-20 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p007.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p007.html
2023-05-13 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p008.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p008.html
2023-05-06 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p009.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p009.html
2023-04-29 16:48:12.418687
200
<RequestsCookieJar[<Cookie TS01441710=01863392ed0927db104e4be4d5765cda95e0e17f18ec17b19c7f03b0e33ac14ad02f99673e9d2d2bcb1ae77ef3f49a74861b98b244 for .www.tbcbank.ge/>]>
Saving: ./results/TBC_2023-05-01_2023-07-12_p010.html...
Content is saved to ./results/TBC_2023-05-01_2023-07-12_p010.html
Reading: ./markers/TBC_2023-05-01_2023-07-12.marker...
98
Reading: ./results/TBC_2023-05-01_2023-07-12_p000.html...
7042
Reading: ./results/TBC_2023-05-01_2023-07-12_p001.html...
7022
Reading: ./results/TBC_2023-05-01_2023-07-12_p002.html...
7016
Reading: ./results/TBC_2023-05-01_2023-07-12_p003.html...
7016
Reading: ./results/TBC_2023-05-01_2023-07-12_p004.html...
7023
Reading: ./results/TBC_2023-05-01_2023-07-12_p005.html...
7020
Reading: ./results/TBC_2023-05-01_2023-07-12_p006.html...
7026
Reading: ./results/TBC_2023-05-01_2023-07-12_p007.html...
7026
Reading: ./results/TBC_2023-05-01_2023-07-12_p008.html...
7026
Reading: ./results/TBC_2023-05-01_2023-07-12_p009.html...
7029
Reading: ./results/TBC_2023-05-01_2023-07-12_p010.html...
7034
[{'date': 'Apr 26, 2023', 'USD': 2.5046}, {'date': 'Apr 27, 2023', 'USD': 2.5019}, {'date': 'Apr 28, 2023', 'USD': 2.4991}, {'date': 'Apr 29, 2023', 'USD': 2.4967}, {'date': 'Apr 30, 2023', 'USD': 2.4967}, {'date': 'May 1, 2023', 'USD': 2.4967}, {'date': 'May 2, 2023', 'USD': 2.494}, {'date': 'May 3, 2023', 'USD': 2.4911}, {'date': 'May 4, 2023', 'USD': 2.4887}, {'date': 'May 5, 2023', 'USD': 2.4858}, {'date': 'May 6, 2023', 'USD': 2.4834}, {'date': 'May 7, 2023', 'USD': 2.4834}, {'date': 'May 8, 2023', 'USD': 2.4834}, {'date': 'May 9, 2023', 'USD': 2.483}, {'date': 'May 10, 2023', 'USD': 2.483}, {'date': 'May 11, 2023', 'USD': 2.5294}, {'date': 'May 12, 2023', 'USD': 2.5458}, {'date': 'May 13, 2023', 'USD': 2.5458}, {'date': 'May 14, 2023', 'USD': 2.5458}, {'date': 'May 15, 2023', 'USD': 2.5458}, {'date': 'May 16, 2023', 'USD': 2.5395}, {'date': 'May 17, 2023', 'USD': 2.5638}, {'date': 'May 18, 2023', 'USD': 2.5347}, {'date': 'May 19, 2023', 'USD': 2.531}, {'date': 'May 20, 2023', 'USD': 2.534}, {'date': 'May 21, 2023', 'USD': 2.534}, {'date': 'May 22, 2023', 'USD': 2.534}, {'date': 'May 23, 2023', 'USD': 2.5376}, {'date': 'May 24, 2023', 'USD': 2.557}, {'date': 'May 25, 2023', 'USD': 2.5879}, {'date': 'May 26, 2023', 'USD': 2.5876}, {'date': 'May 27, 2023', 'USD': 2.5876}, {'date': 'May 28, 2023', 'USD': 2.5876}, {'date': 'May 29, 2023', 'USD': 2.5876}, {'date': 'May 30, 2023', 'USD': 2.5823}, {'date': 'May 31, 2023', 'USD': 2.5919}, {'date': 'Jun 1, 2023', 'USD': 2.5972}, {'date': 'Jun 2, 2023', 'USD': 2.6396}, {'date': 'Jun 3, 2023', 'USD': 2.6335}, {'date': 'Jun 4, 2023', 'USD': 2.6335}, {'date': 'Jun 5, 2023', 'USD': 2.6335}, {'date': 'Jun 6, 2023', 'USD': 2.6209}, {'date': 'Jun 7, 2023', 'USD': 2.6173}, {'date': 'Jun 8, 2023', 'USD': 2.6137}, {'date': 'Jun 9, 2023', 'USD': 2.6102}, {'date': 'Jun 10, 2023', 'USD': 2.6069}, {'date': 'Jun 11, 2023', 'USD': 2.6069}, {'date': 'Jun 12, 2023', 'USD': 2.6069}, {'date': 'Jun 13, 2023', 'USD': 2.6034}, {'date': 'Jun 14, 2023', 'USD': 2.6057}, {'date': 'Jun 15, 2023', 'USD': 2.6153}, {'date': 'Jun 16, 2023', 'USD': 2.6118}, {'date': 'Jun 17, 2023', 'USD': 2.6089}, {'date': 'Jun 18, 2023', 'USD': 2.6089}, {'date': 'Jun 19, 2023', 'USD': 2.6089}, {'date': 'Jun 20, 2023', 'USD': 2.6057}, {'date': 'Jun 21, 2023', 'USD': 2.6164}, {'date': 'Jun 22, 2023', 'USD': 2.6208}, {'date': 'Jun 23, 2023', 'USD': 2.626}, {'date': 'Jun 24, 2023', 'USD': 2.6284}, {'date': 'Jun 25, 2023', 'USD': 2.6284}, {'date': 'Jun 26, 2023', 'USD': 2.6284}, {'date': 'Jun 27, 2023', 'USD': 2.6284}, {'date': 'Jun 28, 2023', 'USD': 2.6285}, {'date': 'Jun 29, 2023', 'USD': 2.622}, {'date': 'Jun 30, 2023', 'USD': 2.6177}, {'date': 'Jul 1, 2023', 'USD': 2.6131}, {'date': 'Jul 2, 2023', 'USD': 2.6131}, {'date': 'Jul 3, 2023', 'USD': 2.6131}, {'date': 'Jul 4, 2023', 'USD': 2.6092}, {'date': 'Jul 5, 2023', 'USD': 2.6055}, {'date': 'Jul 6, 2023', 'USD': 2.6019}, {'date': 'Jul 7, 2023', 'USD': 2.5969}, {'date': 'Jul 8, 2023', 'USD': 2.593}, {'date': 'Jul 9, 2023', 'USD': 2.593}, {'date': 'Jul 10, 2023', 'USD': 2.593}, {'date': 'Jul 11, 2023', 'USD': 2.5894}, {'date': 'Jul 12, 2023', 'USD': 2.587}]
Parquet is written to ./parquets/TBC_2023-05-01_2023-07-12.parquet

In [11]:
df

            date     USD
0   Apr 26, 2023  2.5046
1   Apr 27, 2023  2.5019
2   Apr 28, 2023  2.4991
3   Apr 29, 2023  2.4967
4   Apr 30, 2023  2.4967
..           ...     ...
73   Jul 8, 2023  2.5930
74   Jul 9, 2023  2.5930
75  Jul 10, 2023  2.5930
76  Jul 11, 2023  2.5894
77  Jul 12, 2023  2.5870

[78 rows x 2 columns]

In [12]:
df.describe()

             USD
count  78.000000
mean    2.574412
std     0.049844
min     2.483000
25%     2.534175
50%     2.593000
75%     2.613100
max     2.639600

In [ ]:
df = pd.read_parquet(path=parquet_path, engine='pyarrow')
df.describe()