In [1]:
import pandas as pd

In [2]:
prefix = "TBC_230101_230629"
parquet_path = './parquets/{}.parquet'.format(prefix)
df = pd.read_parquet(path=parquet_path, engine='pyarrow')

In [3]:
df

             date     EUR     USD     GBP
0    Dec 29, 2022  2.8789  2.7055  3.2634
1    Dec 30, 2022  2.8832  2.7103  3.2621
2    Dec 31, 2022  2.8844  2.7020  3.2581
3     Jan 1, 2023  2.8844  2.7020  3.2581
4     Jan 2, 2023  2.8844  2.7020  3.2581
..            ...     ...     ...     ...
178  Jun 25, 2023  2.8560  2.6284  3.3436
179  Jun 26, 2023  2.8560  2.6284  3.3436
180  Jun 27, 2023  2.8663  2.6284  3.3439
181  Jun 28, 2023  2.8774  2.6285  3.3469
182  Jun 29, 2023  2.8727  2.6220  3.3326

[183 rows x 4 columns]

In [5]:
df.describe()

              EUR         USD         GBP
count  183.000000  183.000000  183.000000
mean     2.807879    2.599012    3.202145
std      0.053128    0.061128    0.070001
min      2.729500    2.483000    3.081100
25%      2.765500    2.545800    3.145600
50%      2.786200    2.606400    3.187900
75%      2.856500    2.642900    3.263750
max      2.908700    2.710300    3.355200